{% extends 'base.html' %}
{% load static %}
{% block content %}

    <p>Name: {{student.name}}</p>
    <p>Classification: {{student.classification}}</p>
    <p>Courses: </p>
    <ul>
        {% for enrollment in enrolled_courses %}
            <li> 
                <a href="{% url 'courses_show' enrollment.course.id %}" > {{enrollment.course}} </a> 
            </li>
        {%  endfor %}
    </ul>

    <a href="{% url 'student_update' student.id %}">Update Student</a>

    <a href="{% url 'student_delete' student.id %}">Remove Student</a>

{% endblock %}